@model ProjeCv.Models.Entity.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-danger">Update About</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(x=>x.Id,new {@class="control-label" })
    @Html.TextBoxFor(x=>x.Id,new {@class="form-control",@readonly="readonly"})
    <br />
    @Html.LabelFor(x=>x.Name,new { @class="control-label"})
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control" })
    <br />
    @Html.LabelFor(x => x.Surname,new {@class="control-label" })
    @Html.TextBoxFor(x=>x.Surname,new {@class="form-control" })
    <br />
    @Html.LabelFor(x=>x.Mail,new {@class="control-label" })
    @Html.TextBoxFor(x=>x.Mail,new {@class="form-control" })
    <br />
    @Html.LabelFor(x=>x.Phone,new {@class="control-label" })
    @Html.TextBoxFor(x=>x.Phone,new { @class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Address,new { @class="control-label"})
    @Html.TextBoxFor(x=>x.Address,new { @class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Aboutme,new {@class="control-label" })
    @Html.TextAreaFor(x=>x.Aboutme,15,1,new {@class="form-control" })
    <br />
    <input type="submit" value="Update About" class="btn btn-outline-dark" style="margin-bottom:1%;"/>
}

