@model ProjeCv.Models.Entity.Education
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Add Education</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Id, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Title, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SubTitle, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Department, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x => x.Gpa, new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Gpa, new { @class = "form-control", @required = "required" })
    <br />
    @Html.LabelFor(x=>x.Date,new { @class="control-label"})
    @Html.TextBoxFor(x=>x.Date,new { @class="form-control",@required="required"})
    <br />
    <input type="submit" value="Add Education" class="btn btn-outline-info" style="margin-bottom:1%;"/>


}
